* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 50%;
  max-width: 100%;
  margin: 10% auto;
  text-align: center;
  line-height: 1.5;
  overflow: hidden;
}

button {
  padding: 0.4rem 0.8rem;
  margin: 0.6rem;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: orangered;
  color: #fff;
  font-size: 1.2rem;
}
